/* imports de fontes */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* declaração de variaveis */
:root{
    --cor-barraNavegacao-rodape: #1e1f22;
    --cor-titulo-botao: #FFAE00;
    --cor-card: rgba(37, 37, 37, 0.8);
    --cor-texto: #ffffff;
    --fonte-titulo: 'DM Serif Text', serif;
    --fonte-texto: 'Roboto', sans-serif;
}

/* estilização do plano de fundo da pagina */
body{
    background-image:url('./materialCardapio/imagens/bg.png');
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
}

header{
    background-color: var(--cor-barraNavegacao-rodape);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

nav ul{
    display: flex;
}

li{
    margin: 10px;
    list-style: none;
}

a{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}